In [2]:
import pandas

In [5]:
data = pandas.read_csv('crash_catalonia.csv')

In [6]:
data.describe()

        "Number of Crashes"
count              7.000000
mean           16927.000000
std             1761.238201
min            13664.000000
25%            16496.500000
50%            17337.000000
75%            17674.000000
max            19147.000000